@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap%27');
:root{
    font-family: 'Mulish',sans-serif;

}
img {
    display: block;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
}
