/*menu*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.menu h2{
  font-size: 65px;
  color: #1d1f23;
  text-align: center;
}
.menu__img{
  display: flex;
  flex-direction: row;
  margin-left: 220px; 
}
.barmenu__img{
  max-width: 300px;
  max-height: 270px;
  padding: 0 15px;
  margin: 24px 0; 
  position: relative; 
}
.barmenu__img h3{
position: absolute;
top: 0;
right: auto;
text-justify: auto;
color: white;
font-size: 35px;
font-family: 'Roboto',sans-serif;
opacity: 0;
-webkit-transition: all .50s;
-o-transition: all .50s;
transition: all .50s;

}
.barmenu__img:hover h3{
  opacity: 1;
}
.barmenu__img p{
  position: absolute;
  top: 65px;
  right: auto;
  text-align: left;
  color: white;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin-left: 0;
  margin-right: 15px;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s; 
}
.barmenu__img:hover p{
  opacity: 1;
}

.foodmenu__img{
  max-width: 300px;
  max-height: 270px;
  padding: 0 15px;
  margin: 24px 0;
  position: relative;
}
.foodmenu__img h3{
  position: absolute;
  top: 0;
  right: auto;
  color: white;
  font-size: 35px;
  font-family: 'Roboto',sans-serif;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s;  
}
.foodmenu__img:hover h3{
  opacity: 1;
}
.foodmenu__img p{
  position: absolute;
  top: 65px;
  right: auto;
  text-align: left;
  color: white;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin-left: 0;
  margin-right: 15px;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s;    
}
.foodmenu__img:hover p{
  opacity: 1;
}
.happyhouroffer__img{
  max-width: 300px;
  max-height: 270px;
  padding: 0 15px;
  margin: 24px 0;
  position: relative;
}
.happyhouroffer__img h3{
  position: absolute;
  top: 0;
  right: auto;
  color: white;
  font-size: 33px;
  font-family: 'Roboto',sans-serif;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s;   
}
.happyhouroffer__img:hover h3{
  opacity: 1;
}
.happyhouroffer__img p{
  position: absolute;
  top: 65px;
  right: auto;
  text-justify: auto;
  color: white;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin-left: 0;
  margin-right: 15px;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s;  
}
.happyhouroffer__img:hover p{
  opacity: 1;
}
/*menu*/
      

