/*menu*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&display=swap');
.menu h2{
  font-size: 65px;
  color: #1d1f23;
  text-align: center;
  font-family: 'Rasa', serif;
}
.menu__img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu {
  padding: 100px 15px;
}

.menu__item {
  width: 300px;
  height: 270px;
  padding: 10px 20px;
}

.menu__item h3 {
  text-justify: auto;
  color: white;
  font-size: 35px;
  font-family: 'Roboto',sans-serif;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s;
}

.barmenu__img{ 
  background-image: url(../img/barmenu.png);
}

.menu__item:hover h3{
  opacity: 1;
}

.menu__item p{
  color: white;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin-left: 0;
  margin-right: 15px;
  opacity: 0;
  -webkit-transition: all .50s;
  -o-transition: all .50s;
  transition: all .50s; 
}
.menu__item:hover p{
  opacity: 1;
}

.foodmenu__img{
  background-image: url(../img/foodmenu.png);
}

.happyhouroffer__img{
  background-image: url(../img/happyhouroffer.png);
}

/*menu*/
/*Bar Presentation*/
.bar__presentation_title {
font-size: 65px;
font-family: 'Rasa', serif;
text-align: center;
color: #1d1f23;
}

.bar-img__list {
  width: 100%;
  display: grid;
  grid-template-rows: 280px 280px;
  grid-template-columns: repeat(10, 9.5%);
  gap: 10px;
  justify-content: center;
}

.bar-list__bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.bar-img__list1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url(../img/cheers1.png);
}

.bar-img__list2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url(../img/beerimg.png);
}

.bar-img__list3 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url(../img/cheers2.png);
}

.bar-img__list4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url(../img/whitebeerloading.png);
}

.bar-img__list5 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url(../img/cheers3.png);
}

.bar-img__list6 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url(../img/darkbeerloading.png);
}
/*Bar Presentation*/
/* Events */
.events__title{
  font-size: 65px;
  font-family: 'Rasa', serif;
  text-align: center;
  color: #1d1f23;
  padding: 50px 15px;
}
.irishbeerfestival{
  min-height: 420px;
  max-width: 770px;
  padding: 15px;
  display: flex;
  align-items: left;
  flex-direction:column;
  justify-content: left;
  float:left;  
}
.list__irishbeerfestival{
  display: flex; 
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10px;
}
/* Shop */
.shop{
  margin: 0;
}

.shop__wrap {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.shop__item {
  max-width: 340px;
  min-height: 420px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.shop__item p:hover{
  opacity: 1;
}

.shop h2{
  font-family: 'Rasa',serif;
  font-size: 65px;
  color: #1d1f23;
  text-align: center;
}
.shop p{
  font-family: 'Mulish',sans-serif;
  font-size: 19px;
  color: #8b93a3;
  text-align: center;
  padding: 15px;
}
.amber-stout__text{
  background: linear-gradient( rgba(10, 10, 10, 0.9), rgba(5, 5, 5, 0.5) ),url(../img/amberstout.png);
  background-size: cover;
  background-position: center;
  

}
.barely-wine__text{
  background: linear-gradient( rgba(10, 10, 10, 0.9), rgba(5, 5, 5, 0.5) ),url(../img/barelywine.png);
  background-size: cover;
  background-position: center;
}
.herr-weizenbier__text{
  background: linear-gradient( rgba(10, 10, 10, 0.9), rgba(5, 5, 5, 0.5) ),url(../img/herrweizenbier.png);
  background-size: cover;
  background-position: 84% 50%;
  
}
.shop__item h3 {
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Rasa',serif;
  color: white;
}

.shop__item p {
  text-align: center;
  opacity: 0;
  transition: all .6s;
  font-family: 'Mulis',sans-serif;
  font-size: 16px;
  color: white;
}

